.container {
  padding: 10px 20px 10px 30px;
  font-size: 14px;
}

.dropdownBox button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

.questionsOpen {
  text-align: left;
  padding: 3px;
  max-height: 305px;
  overflow: hidden;
  transition: max-height 200ms ease-in 0s;
}

.questionsClose {
  text-align: left;
  padding: 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in 0s;
}

.question {
  margin-bottom: 10px;
}

.question p {
  line-height: 1.2;
  margin: 10px 0 10px 0;
}

.optionsContainer {
  display: flex;
  gap: 20px;
}

.options {
  display: flex;
  gap: 15px;
}


.options input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  outline: 0px;
  transition: all 0.2s ease-in-out 0s;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194, 194, 193);
  margin: 0 3px 0px 5px;
}

.options input:checked:enabled {
  background-color: rgb(255, 255, 255);
  border: 6px solid rgb(25, 25, 25);
}

.options input:hover {
  background-color: rgb(234, 234, 233);
}

.optionsInfo {
  color: #7f7f7f;
}

.iconOpen {
  transform: rotate(0deg);
}

.iconClose {
  transform: rotate(180deg);
}