.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 300px;
}

.container>div {
  width: 100%;
  display: block;
}

.container>div>input {
  width: 100%;
  border: 1px solid rgb(194, 194, 193);
  padding: 6px 8px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.container>div>input:hover {
  border: 1px solid rgb(127, 127, 127);
}

.termsCheck label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  padding-left: 30px;
  position: relative;
  text-align: left;

}

.termsCheckbox:focus {
  outline: none;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(38, 38, 39, 0.4) 0px 0px 0px 3px;
}

.termsCheckbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: 0px;
  appearance: none;
  box-shadow: rgb(207, 207, 206) 0px 0px 0px 1px inset;
  border-radius: 3px;
  transition: background-color 0.15s ease 0s;
}

.termsCheckbox:checked {
  background-color: rgb(25, 25, 25);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
}

.termsCheckbox:checked::before {
  content: "";
  color: rgb(255, 255, 255);
  background: url("https://www.typeform.com/static/signup-page/check-white.svg") 50% 4px no-repeat;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}



.passwordBox {
  position: relative;
}

.passwordIcon svg {
  opacity: 0.175;
  width: 15px;
}

.passwordIcon svg:hover {
  width: 32px;
  cursor: pointer;
}

.passwordIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  padding-bottom: 10px;
  z-index: 1;
}

.submitButton {
  background-color: #000;
  color: #fff;
  padding: 8px 23px;
  width: 100%;
  max-width: 230px;
  margin: 10px auto 0;
  border-radius: 5px;
}